Question 1
Answer: --rm

Question 2
Answer: 0.42.0

Question 3

SELECT
    *
FROM
    green_taxi_data t
WHERE
	CAST(lpep_pickup_datetime AS DATE) = '2019-09-18' AND
	CAST(lpep_dropoff_datetime AS DATE) = '2019-09-18'

Answer - 15612

Question 4

SELECT
    CAST(lpep_pickup_datetime AS DATE) as "day",
    MAX(trip_distance) as "dist"
FROM
	green_taxi_data t
GROUP BY
    CAST(lpep_pickup_datetime AS DATE)
ORDER BY "dist" DESC;

Answer - 2019-09-26

Question 5


SELECT
	CAST(t."lpep_pickup_datetime" AS DATE) as "day",
	zpu."Borough",
	COUNT(1) as "count",
	SUM(t."total_amount") as sum
FROM
    green_taxi_data t JOIN zones zpu
        ON t."PULocationID" = zpu."LocationID"
WHERE		
	CAST(lpep_pickup_datetime AS DATE) = '2019-09-18'		
GROUP BY
	1, 2
ORDER BY
	"sum" DESC

Answer - "Brooklyn" "Manhattan" "Queens"

Question 6

SELECT
	CAST(DATE_TRUNC('MONTH', t."lpep_pickup_datetime") as DATE),
	zpu."Zone",
	zdo."Zone",
	COUNT(1) as "count",
	MAX(t."tip_amount") as "tip"
FROM
    green_taxi_data t JOIN zones zpu
        ON t."PULocationID" = zpu."LocationID"
	JOIN zones zdo
        ON t."DOLocationID" = zdo."LocationID"	
WHERE
	CAST(DATE_TRUNC('MONTH', t."lpep_pickup_datetime") as DATE) = '2019-09-01' AND zpu."Zone" = 'Astoria'	
GROUP BY
	1, 2, 3
ORDER BY
	"tip" DESC

Answer - JFK Airport